@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* TopBanner */

.topBanner {
    background-color: black;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
}

.topBanner-left-side {
    margin-left: 50px;
    margin-top: 50px;
}

.topBanner-title {
    font-size: 30px;
    color: white;

}

.topBanner-description {
    font-size: 20px;
    color: white;

}

.topBannerImg {
    margin: 50px;
    width: 100%;
    height: 500px;
    background-color: red;
    animation: example 5s infinite;
    border-radius: 20px;
}


@keyframes example {
    0% {
        background: url('../assets/img/messi.jpg');
        background-repeat: no-repeat;
        background-size: cover;

    }

    25% {
        background: url('../assets/img/naymer.jpg');
        background-repeat: no-repeat;
        background-size: cover;

    }

    50% {
        background: url('../assets/img/ronaldo.jpg');
        background-repeat: no-repeat;
        background-size: cover;

    }

    75% {
        background: url('../assets/img/E6WbTaBUUAYD_OD.jpg');
        background-repeat: no-repeat;
        background-size: cover;

    }

    100% {
        background: url('../assets/img/messi.jpg');
        background-repeat: no-repeat;
        background-size: cover;

    }
}



.live-button {

    width: 200px;
    border: 1px solid lightcyan;
    border-radius: 3px;
    padding: 20px;
    background-color: crimson;
}

.watch-live-button {
    text-decoration: none;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    color: black;
    margin-left: 30px;
}

/* country-flag style */


.country-flag {
    display: flex;
}

.nav-bar {

    background-color: black;
    color: white;
    height: 252px;
    width: 252px;
    padding: 50px;
    margin: 100px;
    border-radius: 10px;
    align-items: center;
}

.nav-1 {
    text-decoration: none;
    width: 200px;
    font-size: 22px;
    color: rgb(15, 15, 15);
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;


}

.nav-2 {
    width: 200px;
    font-size: 22px;
    color: rgb(15, 15, 15);
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

.nav-3 {
    width: 200px;
    font-size: 22px;
    color: rgb(15, 15, 15);
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

.nav-1:hover {
    background-color: rgb(230, 17, 9);


}

.nav-2:hover {
    background-color: rgb(230, 17, 9);


}

.nav-3:hover {
    background-color: rgb(230, 17, 9);


}

.c-card {
    display: flex;
    padding-left: 20px;
}

.cc-detils {

    height: 134.48963928222656px;
    width: 252px;

    border-radius: 0px;
}

.card-info {
    text-align: center;

}

.country-card {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 20px;
    height: 239px;
    width: 100%;
    margin-top: 100px;

}

/* Footer */

.footer-div {

    background-color: black;

    color: white;
}

.footer-title {
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 25px;

}

hr {
    border: 1px solid rgb(230, 229, 229);
    width: 50%;
    margin-top: -30px;
}


.footer-section {
    display: flex;
    justify-content: space-evenly;
}

.footer-icon {
    text-align: center;
    font-size: 20px;
}

.fa-brands {
    margin: 20px 20px;

}

/* Media Queriers */

@media only screen and (max-width:688px) {

    .topBanner {
        flex-direction: column;
        border-radius: 0;
        margin-left: 18px;
        margin-right: 0px;
    }

    .topBannerImg {
        margin: 0px;
        height: 400px;
        border-radius: 0;
    }


    .topBanner-description {
        font-size: 14px;
        padding-right: 10px;
    }

    .live-button {
        width: 150px;
        margin-bottom: 30px;

    }

    .watch-live-button {
        text-decoration: none;
        padding: 10px;
        color: black;
        margin-left: 23px;

    }



    .nav-bar {
        margin-left: 50px;
        margin-right: 50px;
        height: 241px;
        width: 250px;
        padding: 0px;
        border-radius: 10px;
        align-items: center;


    }

    .nav-1 {

        width: 120px;
        font-size: 22px;
        color: rgb(15, 15, 15);
        background-color: white;
        border-radius: 10px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 20px;
        margin-left: 60px;
    }

    .nav-2 {
        width: 120px;
        font-size: 22px;
        color: rgb(15, 15, 15);
        background-color: white;
        border-radius: 10px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 20px;
        margin-left: 60px;

    }

    .nav-3 {
        width: 120px;
        font-size: 22px;
        color: rgb(15, 15, 15);
        background-color: white;
        border-radius: 10px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 20px;
        margin-left: 60px;

    }

    .c-card {

        padding-left: 60px;
    }

    .country-flag {
        flex-direction: column;
    }


    .country-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
        column-gap: 10px;
        width: 100%;
        margin-top: 40px;

    }

    .footer-div {

        margin-top: 900px;
    }

    .footer-section {
        flex-direction: column;
        margin-left: 130px;

    }

}

@media only screen and (min-width:689px) and (max-width:992px) {
    .topBanner {
        flex-direction: column;
        border-radius: 0;
    }

    .topBannerImg {
        margin: 0px;
        height: 320px;
        border-radius: 0;
    }

    .live-button {


        margin-bottom: 30px;


    }

    .nav-bar {

        height: 250px;
        width: 250px;
        padding: 0px;
        background-color: white;
        align-items: center;
        display: flex;
        margin: 0;
        justify-content: flex-start;
        margin-left: 200px;

    }




    .nav-1 {

        width: 120px;
        font-size: 22px;
        color: rgb(15, 15, 15);
        background-color: white;
        border-radius: 10px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 20px;
        margin-left: 60px;
        margin: 10px;
    }

    .nav-2 {
        width: 120px;
        font-size: 22px;
        color: rgb(15, 15, 15);
        background-color: white;
        border-radius: 10px;
        padding-left: 0px;
        padding-right: 0px;
        padding: 12px;
        margin-top: 20px;
        margin-left: 60px;
        margin: 10px;

    }

    .nav-3 {
        width: 120px;
        font-size: 22px;
        color: rgb(15, 15, 15);
        background-color: white;
        border-radius: 10px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 20px;
        margin-left: 60px;
        margin: 10px;
        padding: 12px;

    }


    .c-card {

        padding-left: 80px;
    }


    .country-flag {
        flex-direction: column;
    }


    .country-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
        column-gap: 10px;
        width: 100%;
        margin-top: 40px;
    }

    .footer-div {
        margin-top: 300px;
    }
}